{% load tailwind_tags %}
<html>
    <head>
        {% tailwind_css %}
    </head>
    <body class="h-100 text-center text-black bg-slate-100">
        <h1 class="text-4xl m-4 items-center">Heatmap legend</h1>
        <div class="flex items-center justify-center mt-8 bg-white rounded-md py-10 px-12 shadow-lg">
            <table class="table text-gray-400 space-y-6 text-sm m-12 border-separate">
                <thead class="bg-blue-500 text-white mb-12">
                  <tr>
                    <th class="p-3">Corr Value</th>
                    <th class="p-3">Interpretation</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="bg-blue-200 lg:text-black">
                    <td class="p-3 font-medium capitalize border">Observational/Empirical (Type)</td>
                    <td class="p-3 font-medium capitalize border">Observational or empirical data types</td>
                  </tr>
                  <tr class="bg-blue-200 lg:text-black">
                    <td class="p-3 font-medium capitalize border">Experimental (Type)</td>
                    <td class="p-3 font-medium capitalize border">Experimental data types</td>
                  </tr>
                  <tr class="bg-blue-200 lg:text-black">
                    <td class="p-3 font-medium capitalize border">Simulation (Type)</td>
                    <td class="p-3 font-medium capitalize border">Simulation data types</td>
                  </tr>
                  <tr class="bg-blue-200 lg:text-black">
                    <td class="p-3 font-medium capitalize border">Derived/Compiled (Type)</td>
                    <td class="p-3 font-medium capitalize border">Derived or compiled data types</td>
                  </tr>
                  <tr class="bg-blue-200 lg:text-black">
                    <td class="p-3 font-medium capitalize border">Other Types</td>
                    <td class="p-3 font-medium capitalize border">Other data types</td>
                  </tr>
                  <tr class="bg-blue-200 lg:text-black">
                    <td class="p-3 font-medium capitalize border">Basis for new study</td>
                    <td class="p-3 font-medium capitalizeborder">Use data as the basis for a new study</td>
                  </tr>
                  <tr class="bg-blue-200 lg:text-black">
                    <td class="p-3 font-medium capitalize border">Calibration</td>
                    <td class="p-3 font-medium capitalize border">Use data to calibrate instruments or models</td>
                  </tr>
                  <tr class="bg-blue-200 lg:text-black">
                    <td class="p-3 font-medium capitalize border">Benchmarking</td>
                    <td class="p-3 font-medium capitalize border">Use data for benchmarking</td>
                  </tr>
                  <tr class="bg-blue-200 lg:text-black">
                    <td class="p-3 font-medium capitalize border">Verification</td>
                    <td class="p-3 font-medium capitalize border">Use data to verify own data</td>
                  </tr>
                  <tr class="bg-blue-200 lg:text-black">
                    <td class="p-3 font-medium capitalize border">Input</td>
                    <td class="p-3 font-medium capitalize border">Use data as model, algorithm or system inputs</td>
                  </tr>
                  <tr class="bg-blue-200 lg:text-black">
                    <td class="p-3 font-medium capitalize border">Generating new ideas</td>
                    <td class="p-3 font-medium capitalize border">Use data to generate new ideas</td>
                  </tr>
                  <tr class="bg-blue-200 lg:text-black">
                    <td class="p-3 font-medium capitalize border">Teaching</td>
                    <td class="p-3 font-medium capitalize border">Use data for teaching/training</td>
                  </tr>
                  <tr class="bg-blue-200 lg:text-black">
                    <td class="p-3 font-medium capitalize border">Prepare new project/proposal</td>
                    <td class="p-3 font-medium capitalize border">Use data to prepare for new project or proposal</td>
                  </tr>
                  <tr class="bg-blue-200 lg:text-black">
                    <td class="p-3 font-medium capitalize border">Experimental Use</td>
                    <td class="p-3 font-medium capitalize border">Use data to experiment with new methods and techniques</td>
                  </tr>
                  <tr class="bg-blue-200 lg:text-black">
                    <td class="p-3 font-medium capitalize border">Identifying trends/predictions</td>
                    <td class="p-3 font-medium capitalize border">Use data to identify trends, make predictions</td>
                  </tr>
                  <tr class="bg-blue-200 lg:text-black">
                    <td class="p-3 font-medium capitalize border">Comparison</td>
                    <td class="p-3 font-medium capitalize border">Use data to compare multiple datasets</td>
                  </tr>
                  <tr class="bg-blue-200 lg:text-black">
                    <td class="p-3 font-medium capitalize border">Summarizations</td>
                    <td class="p-3 font-medium capitalize border">Use data to create summaries, visualizations, analysis tools</td>
                  </tr>
                  <tr class="bg-blue-200 lg:text-black">
                    <td class="p-3 font-medium capitalize border">Integrate with other data</td>
                    <td class="p-3 font-medium capitalize border">Use data to integrate with other data</td>
                  </tr>
                  <tr class="bg-blue-200 lg:text-black">
                    <td class="p-3 font-medium capitalize border">Other Uses</td>
                    <td class="p-3 font-medium capitalize border">Use data for other uses</td>
                  </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>