{% load static %}
{% load tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% tailwind_css %}
    <meta charset="UTF-8" />
    <script src="https://cdn.tailwindcss.com"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
    <title>Correlation Analysis</title>

    <link
    href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
    rel="stylesheet"
    />
  </head>
  <body class="h-100 text-center text-black bg-white">
    <h1 class="text-4xl m-4 items-center">Correlation Analysis Result</h1>
    <h2 class="text-2xl m-2 items-center">{{ domain }}</h1>
    <h2 class="text-2xl m-2 items-center">Sample Size: {{ sampleSize }}</h1>

<!-- https://www.d3-graph-gallery.com/graph/heatmap_tooltip.html -->
<!-- Load d3.js -->
<script src="https://d3js.org/d3.v4.js"></script>
<a href="{% url 'CorrelationVisualization:legend' %}" style="color: rgb(59, 130, 246)">Legend</a> for heatmap variables
<!-- Create a div where the graph will take place -->
<div id="heatmap" class="flex items-center justify-center bg-white rounded-md py-10 px-12 shadow-lg"></div>
<script>

// set the dimensions and margins of the graph
var margin = {top: 10, right: 10, bottom: 200, left: 200},
  width = 800 - margin.left - margin.right,
  height = 750 - margin.top - margin.bottom;

// append the svg object to the body of the page
var svg = d3.select("#heatmap")
.append("svg")
  .attr("width", width + margin.left + margin.right)
  .attr("height", height + margin.top + margin.bottom)
.append("g")
  .attr("transform",
        "translate(" + margin.left + "," + margin.top + ")");

// Labels of row and columns
var myGroups = ["Observational/Empirical (Type)", "Experimental (Type)", "Simulation (Type)", "Derived/Compiled (Type)", "Other Types", "Basis for new study", "Calibration", "Benchmarking", "Verification", "Input", "Generating new ideas", "Teaching", "Prepare new project/proposal", "Experimental Use", "Identifying trends/predictions", "Comparison", "Summarizations", "Integrate with other data", "Other Uses"]

// Build X scales and axis:
var x = d3.scaleBand()
  .range([ 0, width ])
  .domain(myGroups)
  .padding(0.01);
svg.append("g")
  .attr("transform", "translate(0," + height + ")")
  .call(d3.axisBottom(x))
  .selectAll("text")  
  .style("text-anchor", "end")
  .style("font-size", 14)
  .attr("dx", "-.8em")
  .attr("dy", ".15em")
  .attr("transform", "rotate(-65)");
  

// Build Y scales and axis:
var y = d3.scaleBand()
  .range([ height, 0 ])
  .domain(myGroups)
  .padding(0.01);
svg.append("g")
  .style("font-size", 14)
  .call(d3.axisLeft(y));

// Build color scale
var myColor = d3.scaleLinear()
  .range(["white", "#3b82f6"])
  .domain([0,1])

//Read the data
d3.csv("{% static '/correlationVisualization/files/correlations.csv' %}", function(data) {

  // create a tooltip
  var tooltip = d3.select("#heatmap")
    .append("div")
    .style("opacity", 0)
    .attr("class", "tooltip")
    .style("background-color", "white")
    .style("border", "solid")
    .style("border-width", "2px")
    .style("border-radius", "2px")
    .style("padding", "5px")

  // Three function that change the tooltip when user hover / move / leave a cell
  var mouseover = function(d) {
    tooltip.style("opacity", 1)
  }
  var mousemove = function(d) {
    tooltip
      .html(d.Group1 + " - " + d.Group2 + ": " + d.Value)
      .style("left", (d3.mouse(this)[0]+350) + "px")
      .style("top", (d3.mouse(this)[1]+150) + "px")
  }
  var mouseleave = function(d) {
    tooltip.style("opacity", 0)
  }

  // add the squares
  svg.selectAll()
    .data(data, function(d) {return d.Group1+':'+d.Group2;})
    .enter()
    .append("rect")
      .attr("x", function(d) { return x(d.Group1) })
      .attr("y", function(d) { return y(d.Group2) })
      .attr("width", x.bandwidth() )
      .attr("height", y.bandwidth() )
      .style("fill", function(d) { return myColor(d.Value)} )
    .on("mouseover", mouseover)
    .on("mousemove", mousemove)
    .on("mouseleave", mouseleave)
})

</script>

    <div class="flex items-center justify-center mt-8 bg-white rounded-md py-10 px-12 shadow-lg">
        <div class="col-span-12">
          <h2 class="text-2xl m-2 items-center">Top correlations</h2>

          <table class="table text-gray-400 space-y-6 text-sm m-12">
            <thead class="bg-blue-500 text-white mb-12">
              <tr>
                <th class="p-3">Corr Value</th>
                <th class="p-3">Interpretation</th>
              </tr>
            </thead>
            <tbody>
              <tr class="bg-blue-200 lg:text-black">
                <td class="p-3 font-medium capitalize">0 - 0.29</td>
                <td class="p-3 font-medium capitalize">No correlation</td>
              </tr>
              <tr class="bg-blue-200 lg:text-black">
                <td class="p-3 font-medium capitalize">0.3 - 0.49</td>
                <td class="p-3 font-medium capitalize">Weak correlation</td>
              </tr>
              <tr class="bg-blue-200 lg:text-black">
                <td class="p-3 font-medium capitalize">0.5 - 0.69</td>
                <td class="p-3 font-medium capitalize">Moderate correlation</td>
              </tr>
              <tr class="bg-blue-200 lg:text-black">
                <td class="p-3 font-medium capitalize">0.7 - 0.89</td>
                <td class="p-3 font-medium capitalize">High correlation</td>
              </tr>
              <tr class="bg-blue-200 lg:text-black">
                <td class="p-3 font-medium capitalize">0.9 - 1</td>
                <td class="p-3 font-medium capitalize">Very high correlation</td>
              </tr>
            </tbody>
          </table>
            <table class="table text-gray-400 space-y-6 text-sm m-12">
              <thead class="bg-blue-500 text-white mb-12">
                <tr>
                  <th class="p-3">Variables</th>
                  <th class="p-3">Value</th>
                </tr>
              </thead>
              <tbody>
                {% for keys, value in res.items %}
                <tr class="bg-blue-200 lg:text-black">
                    <td class="p-3 font-medium capitalize">
                    {% for key in keys %}
                        {{ key }} </br>
                    {% endfor %}
                    </td>
                    <td class="p-3">{{ value }}</td>
                </tr>
                {% endfor %}
               </tbody>
            </table>
          </div>
        </div>
    

  </body>
</html>